:root {
    --primary-color: rgb(2, 2, 66);
    --secondary-color: white;
    --highlight-color: rgb(210, 210, 0);
    --link-shadow: rgba(0, 0, 0, 0.1);
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--primary-color);
}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    color: var(--secondary-color);
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li {
    margin: 0 2rem;
}
header nav a{
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-flex;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--secondary-color);
    transition: 0.5s;
    display: flex;
    align-items: center;
    width: 110%;
    justify-content: space-between;
}
header .navOne h1{
    width: 20%;
    color: var(--highlight-color);
}
header .navOne h1 span{
    display: inline-flex;
    width:0.1rem;
    height: 2rem;
    background-color: var(--secondary-color);
}
header .navOne .profile{
    position: relative;
}
header .navOne .profile a{
    color: var(--secondary-color);
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}
header .navOne .profile div {
    position: absolute;
    background-color: var(--primary-color);
    width: 200px; /* Set a fixed width for the dropdown */
    top: 4rem; /* Position below the profile button */
    left: 0; /* Align dropdown to the right */
    list-style-type: none;
    overflow: hidden;
    max-height: 0; /* Start with hidden dropdown */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    border-radius: 8px; /* Rounded corners */
    opacity: 0; /* Start with hidden dropdown */
    z-index: 10000;
    transition: max-height 03s ease-out, opacity 0.3s ease-out; /* Smooth transitions */
}

header .navOne .profile .activeDiv {
    max-height: 15rem; /* Increased height to accommodate more content */
    opacity: 1; /* Show dropdown */
}
header .navOne .profile div li,
header .navOne .profile li button{
    transition: 0.2s;
}

header .navOne .profile div li:hover, 
header .navOne .profile div li:hover > button {
    background-color: var(--highlight-color); 
    color: var(--primary-color);
    cursor: pointer;
}
header .navOne .profile div button {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: white;
}

header .navTwo {
    justify-content: center;
}
header nav a:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
}
header .navOne a{
    background-color: var(--primary-color);
}
header nav .active{
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border: 0.1rem solid var(--highlight-color);
}
header nav a:hover,
header nav .active:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border: 0.1rem solid var(--highlight-color);
} 