.paymentWrapper {
   width: 85%;
   max-width: 50rem;
   margin: 12rem auto;
   padding: 2rem;
   border-radius: 10px;
   background-color: #fff;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 }
 
 .paymentTitle {
   font-size: 2.5rem;
   color: #333;
   font-weight: 700;
   margin-bottom: 1.5rem;
   text-align: center;
 }
 
 .paymentDetails {
   text-align: center;
   margin-bottom: 2rem;
 }
 
 .paymentDetails h2 {
   font-size: 1.8rem;
   color: #007bff;
 }
 
 .paymentForm {
   display: flex;
   flex-direction: column;
 }
 
 h2 {
   font-size: 1.5rem;
   color: #333;
   margin-bottom: 1rem;
 }
 
 .formControl {
   margin-bottom: 1rem;
 }
 
 .formControl label {
   display: block;
   margin-bottom: 0.5rem;
   font-size: 1rem;
   color: #666;
 }
 
 .formControl input {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 1rem;
   padding-left: 2.5rem;
 }
 
 .formControl input::placeholder {
   color: #bbb;
 }
 
 .formControl label {
   position: relative;
   color: #666;
 }
 
 .formControl label .fa {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 1.2rem;
   color: #007bff;
 }
 
 .formGroup {
   display: flex;
   justify-content: space-between;
   gap: 1rem;
 }
 
 .submitBtn {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 12px 24px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   font-weight: bold;
   transition: background-color 0.3s;
   margin-top: 1rem;
 }
 
 .submitBtn:hover {
   background-color: #0056b3;
 }